
body{
  background-color: rgb(177, 237, 243);
}


.head-text {
	width: 500px;
	
}

.head-text p {
	font-size: 30px;
	color: #2e2e2e;
  font-family: 'Playfair Display', serif;
  padding-right:50px;
}

.head-text button{
    font-size:20px;
    border-radius: 20px;
    height:70px;
    width:300px;
    font-family: 'Playfair Display',sans-serif;
    color:white;
    background-color: red;
    cursor:pointer;
}

.head-container {
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
  justify-content: space-around;
}

.header img {
  float:right;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  flex-wrap : wrap;
  display: flex;
  margin-top: 120px;
  padding-right: 50px;
}
